footer{
    background-color: var(--color-primary-3);
}
#footer_intns{
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}
#copyright{
    color: #1d1d1d;
    font-weight: 500;
}
@media screen  and ( max-width: 600px){
    #footer_intns{
        flex-direction: column;
        gap: 20px;
    }
}