
header{
  width: 100%;
  padding: 20px 4%;
  position: sticky;
  top: 0;
  background-color: var(--color-primary-1);
  z-index: 999;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#nav_logo{
    font-size: 18px;
    color: #e9a209;
    font-weight: bold;
}
.navbar .nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}
.nav_item a{
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}
.nav_item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid #e9a209;
}
#mobile_btn{
    display: none;
}
#mobile_menu{
    display: none;
}
@media screen  and (max-width: 740px){
    #nav_list,#navbar .btn-default{
        display: none;
    }
    #mobile_btn{
        display: flex;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor:pointer;
    }
    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #mobile_nav_list {
       display: flex;
       flex-direction: column;
       gap: 12px;
       margin:12px 0;
       list-style: none;
    }
    #mobile_nav_list .nav_list_item{
        text-align: center;
    }
    #mobile_nav_list .nav_list_item a{
        color: #1d1d1d;
       text-decoration: none;
    }
}
